@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1920px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.btn {
  background-color: #979797;
  color: white;
  text-align: center;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 0 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #4e4e4e;
}

.btn:active {
  background-color: #202020;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 5px 10px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #979797;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  transition: 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #222222;
  background-color: #ffffff;
}
